<h2 class="text-center">Pregled upita: <%= ticket.title %></h2>

<form action="/modify/<%= ticket._id %>" method="POST">
  <div class="mb-3">
    <label for="ticketTitle" class="form-label">Naslov</label>
    <input value="<%= ticket.title %>" type="text" name="title" class="form-control" id="ticketTitle" aria-describedby="ticketTitle">
  </div>
  <div class="mb-3">
    <label for="ticketContent" class="form-label">Sadržaj</label>
    <textarea type="text" name="subject" class="form-control" id="ticketContent"><%= ticket.subject %></textarea>
  </div>
  <div class="mb-3">
    <label for="resolvedReason" class="form-label">Razlog zatvaranja upita</label>
    <textarea type="text" name="resolvedReason" class="form-control" id="resolvedReason"><%= ticket.resolvedReason %></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Izmjeni upit</button>
</form>