<h2 class="text-center">Unos novog upita</h2>

<form action="/add" method="POST">
  <div class="mb-3">
    <label for="ticketTitle" class="form-label">Naslov</label>
    <input type="text" name="title" class="form-control" id="ticketTitle" aria-describedby="ticketTitle">
  </div>
  <div class="mb-3">
    <label for="ticketContent" class="form-label">Sadržaj</label>
    <textarea type="text" name="subject" class="form-control" id="ticketContent"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Kreiraj upit</button>
</form>